.AddBtnContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.adjOption.invalid {
  background-color: rgb(249, 165, 27, 0.2);
}

.adjOption {
  background-color: transparent;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 0 16px 8px 16px;
}

.adjNumber {
  /* height: 48px; */
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.subtractBtn {
  outline: none;
  cursor: pointer;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}

.currentNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 100%;
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 12;
  -webkit-appearance: none;
}

.addBtn {
  outline: none;
  cursor: pointer;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}

.storageInfo {
  display: flex;
  margin-left: 15px;
}
.addToCartBtn {
  cursor: pointer;
  overflow: hidden;
  height: 38px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}
.adjustContainer {
  display: flex;
  /* flex-direction: column; */
}
.backBtn {
  cursor: pointer;
  overflow: hidden;
  height: 38px;
  color: #fff;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
  margin-right: 12px;
  display: flex;
  flex: 1;
}
.confirmBtn {
  cursor: pointer;
  overflow: hidden;
  height: 38px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 12px;
  display: flex;
  flex: 1;
}

.infoTitle {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 18px 0;
}

.infoTitle h4 {
  min-width: 140px;
  display: flex;
  margin: 8px 0;
}
.infoDetail {
  display: flex;
  flex-wrap: wrap;
}
.infoColor {
}
.infoOptions {
  padding: 4px 12px;
  margin: 8px 4px;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 2.125rem;
  font-size: 16px;
  background-color: transparent;
  font-family: inherit;
  overflow: hidden;
  border: 1px solid var(--border-color);
  user-select: none;
  /* z-index: 2;  */
  &:hover {
    cursor: pointer;
    border-color: var(--primary);
  }
}

.infoOptions.active {
  border-color: var(--primary);
}
.infoOptions.active .activeTick {
  display: flex;
}
.infoOptions.active::before {
  border-bottom: 1.8rem solid var(--primary, #ee4d2d);
  user-select: none;
}

.activeTick {
  font-size: 12px;
  position: absolute;
  right: 1px;
  bottom: 1px;
  color: #fff;
  display: none;
  user-select: none;
  /* z-index: 1; */
}
.activeTick path {
  user-select: none;
}
.activeTick svg {
  user-select: none;
}
.infoOptions::before {
  content: "";
  border: 1.8rem solid transparent;
  border-bottom: 1.8rem solid transparent;

  content: "";
  position: absolute;
  right: -1.9rem;
  bottom: -1.9rem;
  transform: rotate(135deg);
  user-select: none;
}
.infoButton {
  margin-top: 48px;
}
.errorMessage {
  color: rgb(255, 79, 79);
}
.infoSize {
}
.infoSizeDetail {
}
.colorOfProduct {
}
.infoInsurance {
}

@media (max-width: 992px) {
  .AddBtnContainer {
    /* height: 42px; */
  }

  .adjOption {
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 0 16px 8px 0px;
  }
  .infoColor,
  .infoSize {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .infoTitle h4 {
    min-width: none;
    display: flex;
  }
  .infoOptions {
    margin: 8px 8px 8px 0;
    font-size: 12px;
  }

  .adjNumber {
    /* height: 48px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 14px;
    margin-top: 14px;
  }
  .adjNumber .subtractBtn {
    width: 48px;
    height: 48px;
    font-size: 22px;
  }

  .adjNumber .currentNumber {
    font-size: 22px;
    margin: 0 18px;
  }

  .adjNumber .addBtn {
    font-size: 22px;
    width: 48px;
    height: 48px;
  }

  .addToCartBtn {
    height: 50px;
    font-size: 14px;
  }
  .adjustContainer {
    display: flex;
  }
}
