:root {
  --button-margin: 12px;
}

.cartDisplay {
  display: flex;
  flex: 0.4;
  position: relative;
  width: 100%;
  min-width: 250px;
  box-sizing: border-box;
  margin: var(--button-margin);
}

.cartBtn {
  // margin: var(--button-margin);
  display: flex;
  flex: 1;
  color: #fff;
  background-color: var(--primary);
  box-sizing: border-box;
  border: none;
  position: relative;
}
.cartBtn::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  height: 12px;
  width: 100%;
  background-color: transparent;
}
.cartBtn p {
  color: black;
  position: absolute;
  top: -20px;
  right: calc(50% - 1px);
  transform: translateX(50%);
  background-color: #fff;
  border: 2px solid var(--primary);
  border-radius: 9999px;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: 600;
}

.cartContain {
  position: absolute;
  display: flex;
  top: calc(100% + 10px);
  height: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.15s ease, pointer-events 0s; /* Thêm transition cho pointer-events */
  overflow: hidden;
  flex-direction: column;
  padding: 0 8px;
  z-index: 2;
  // background-color: var(--primary);
  border-radius: 12px;
  background-color: #fff;
}

.cartContain.active {
  border: 1px solid transparent;
  border-color: var(--border-color);
  opacity: 1;
  top: calc(100% + 12px);
  height: 360px;

  // max-height: 360px;
  // min-height: 100px;
  // height: fit-content;
  pointer-events: auto;
  padding: 8px;
}

.cartContainer {
}
.cartPart {
  display: flex;
  margin-bottom: 6px;
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
}
.cartItemImg {
  width: 46px;
  height: 46px;
  margin-right: 6px;
  border-radius: 8px;
}
.cartInfoContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.cartName {
  display: flex;
  width: 80%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.cartQuantity {
  margin-left: auto;
}
.buttonPart {
  color: var(--text-color);
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.linkToCart {
  display: flex;
  padding: 12px 0;
  width: 100%;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary);
}
.linkBtnToCart {
  display: flex;
  // flex: 1;
  width: 100%;
}
// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {
  .cartDisplay {
    min-width: 50px;
    flex: 0.5;
  }
  .cartContain {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
