:root {
  --carousel-square: 410px;
  --carousel-item-square: 100px;
  --border-radius: 12px;
}
.carousel {
  // display: flex;
}
.carouselContent {
}
.imgList {
}
.carouselMainImg {
  display: flex;
  width: var(--carousel-square);
  height: var(--carousel-square);
  // min-height: 390px;
  // max-height: 390px;
  // min-width: 390px;
  // max-width: 390px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  margin: 0 0 12px 0;
  border-radius: var(--border-radius);
}

.carouselThumbnail {
  display: flex;
  align-items: center;
  width: var(--carousel-square);
  position: relative;
  //   height: var(--carousel-item-square);
}
.carouselItemContainer {
  display: inline-flex;
  overflow-x: scroll;
  // min-width: 390px;
  // max-width: 390px;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
  width: var(--carousel-square);

  border-radius: var(--border-radius);
  scroll-snap-type: x mandatory;
}
.carouselItemContainer::-webkit-scrollbar {
  display: none;
}
.previousBtn {
  display: flex;
  align-items: center;
  // margin: 0 12px;
  position: absolute;
  left: 0;
  height: 50%;
  padding: 14px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  opacity: 0.8;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  &:focus-visible {
    outline: none;
  }
  &:hover {
    opacity: 1;
  }
}
.nextBtn {
  display: flex;
  align-items: center;
  // margin: 0 12px;
  position: absolute;
  right: 0;
  height: 50%;
  padding: 14px;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  opacity: 0.8;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  &:focus-visible {
    outline: none;
  }
  &:hover {
    opacity: 1;
  }
}
.carouselItem {
  width: var(--carousel-item-square);
  height: var(--carousel-item-square);
  object-fit: cover;
  object-position: center;
  margin-right: 12px;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  scroll-snap-align: center;
  opacity: 0.5;
  &:hover {
    box-shadow: inset 0 0 4px 0 var(--border-color);
    cursor: pointer;
  }
  box-sizing: border-box;
}

.carouselItem:last-child {
  margin-right: 0;
}

.active {
  transition: 0.14s;
  border: 2px solid var(--primary);
  opacity: 1;
  right: 0;
}

@media (max-width: 992px) {
  :root {
    --carousel-square: 100%;
    --carousel-item-square: 80px;
    --border-radius: 12px;
  }
  .carousel {
    // display: flex;
    width: 100%;
  }
  .imgList {
    display: grid;
    place-items: center;
    // height: 0;
    // padding-top: 100%;
  }

  .carouselMainImg {
    display: flex;
    // width: var(--carousel-square);
    width: 100%;
    // height: var(--carousel-square);
    padding-top: 100%;
    height: 0;
    margin: 0 0 12px 0;
    border-radius: var(--border-radius);
    // background-image: url();
  }

  .carouselThumbnail {
    display: flex;
    align-items: center;
    width: var(--carousel-square);
    position: relative;
    //   height: var(--carousel-item-square);
  }
  .carouselItemContainer {
    display: inline-flex;
    overflow-x: scroll;
    // min-width: 390px;
    // max-width: 390px;
    // scrollbar-width: none;
    // -ms-overflow-style: none;
    width: var(--carousel-square);

    border-radius: var(--border-radius);
    scroll-snap-type: x mandatory;
  }
  .carouselItemContainer::-webkit-scrollbar {
    display: none;
  }
  .previousBtn {
    display: flex;
    align-items: center;
    // margin: 0 12px;
    position: absolute;
    left: 0;
    height: 50%;
    padding: 14px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0.8;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    &:focus-visible {
      outline: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .nextBtn {
    display: flex;
    align-items: center;
    // margin: 0 12px;
    position: absolute;
    right: 0;
    height: 50%;
    padding: 14px;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    opacity: 0.8;
    background-color: #fff;
    cursor: pointer;
    z-index: 1;
    &:focus-visible {
      outline: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .carouselItem {
    width: var(--carousel-item-square);
    height: var(--carousel-item-square);
    object-fit: cover;
    object-position: center;
    margin-right: 12px;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    scroll-snap-align: center;
    opacity: 0.5;
    &:hover {
      box-shadow: inset 0 0 4px 0 var(--border-color);
      cursor: pointer;
    }
    box-sizing: border-box;
  }

  .carouselItem:last-child {
    margin-right: 0;
  }

  .active {
    transition: 0.14s;
    border: 2px solid var(--primary);
    opacity: 1;
    right: 0;
  }
}
