.Btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    filter: brightness(108%);
  }
  &:active {
    filter: brightness(100%);
  }
}

.primary {
  background-color: var(--primary);
  color: #fff;
}
.borrad {
  border-radius: 8px;
}
.medium {
  padding: 12px 48px;
  border: none;
  display: flex;
  justify-content: center;
}
.btnCategory {
}
