.Btn {
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  &:hover {
    cursor: pointer;
    filter: brightness(108%);
  }
  &:active {
    filter: brightness(100%);
  }
}
.bgcWhite {
  background-color: #fff;
}
.bgcGrey {
  background-color: rgba(203, 203, 203, 0.397);
}
.primary {
  background-color: var(--primary);
  color: #fff;
}
.borrad {
  border-radius: 8px;
}
.border {
  border: 1px solid #ccc;
}
.medium {
  padding: 12px 48px;
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
}
.btnCategory {
}
