.introContainer {
  opacity: 0;
  transform: translateX(-100px);
  transition: cubic-bezier(0.66, 0.01, 0.51, 1) 1s;
}
.introContainer.show {
  opacity: 1;
  transform: translateX(0);
}
.introTitle {
  text-transform: uppercase;
  background-color: rgba(249, 164, 27, 0.2);
  padding: 12px;
  border-radius: 8px;
}
.introDetail {
  font-size: 18px;
}
.intro {
  text-align: justify;
  margin: 24px 0;
  padding: 0 12px;
  display: flex;
}
.introDoYouKnow {
  position: relative;
  /* .introImg {
    opacity: 0;
    transform: translateX(-100px);
  }
  .introImg.show {
    opacity: 1;
    transform: translateX(0);
  }

  .introText {
    opacity: 0;
    transform: translateX(-100px);
  }
  .introText.show {
    opacity: 1;
    transform: translateX(0);
  } */
}
.introValue {
  flex-direction: column;
  display: grid;
  .introMaintitle {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    margin-top: 48px;
  }
  .introPart {
    overflow: hidden;
    border-radius: 8px;
    margin: 16px 0;
    display: flex;
    .introImg {
      margin: 0;
      width: 30%;
      border-radius: 0;
    }
    .introText {
      .introTitle {
        background-color: transparent;
        padding: 0;
      }
      border-radius: 0;
      border: none;
      background-color: var(--primary);
    }
  }
}

.introImg {
  display: flex;
  /* flex: 3; */
  width: 70%;
  margin-right: 12px;
  border-radius: 8px;
  object-fit: cover;
}
.introText {
  /* width: 100%; */
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--primary);
  padding: 12px;
}

.introStrategy {
  border: 1px solid var(--primary);
  border-radius: 8px;
  margin: 12px;
  .introTitle {
    margin: 12px 0;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .introDetail {
    /* margin: 0 12px; */
    margin-left: 12px;
    .introImg {
      margin-bottom: 12px;
      border-radius: 8px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.introWork {
  display: flex;
  margin: 12px;
  /* padding: 12px; */
  border: 1px solid var(--primary);
  border-radius: 8px;
  .introTitle {
    display: flex;
    align-items: center;
    margin: 12px 0;
  }
  .introDetail {
    margin: 12px;
    display: flex;
    align-items: center;
  }
  .introImg {
    margin: 12px 0;
    width: 60%;
  }
}
