/* css lấy từ addToCartBtn */

.adjNumber {
  /* height: 48px; */
  display: flex;
  align-items: center;
  /* margin-bottom: 14px; */
  margin-bottom: 0;
}
.subtractBtn {
  outline: none;
  cursor: pointer;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.currentNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 34px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 12;
  -webkit-appearance: none;
}

.addBtn {
  outline: none;
  cursor: pointer;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 12px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
/* end of addToCartBtn  */

.cartComponent {
  /* min-height: 100%; */
  color: var(--text-color);
}
.cartSelected {
}
.headerSelected {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 12px;
  border-radius: 8px;
  padding: 12px;
}
.headerCheckboxContainer {
  width: 50%;
  display: flex;
  align-items: center;
}
.headerCheckboxLabel {
  text-transform: capitalize;
  user-select: none;
  display: flex;
  align-items: center;
}
.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.selectChange {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.selectChangeCover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 3;
}
.inputContainer {
  position: relative;
  height: 25px;
  min-width: 25px;
  display: flex;
  margin-right: 12px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inputContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d4d4d4;
}
.selectChange:hover input ~ .checkmark {
  background-color: #949494;
}

/* When the checkbox is checked, add a blue background */
.inputContainer input:checked ~ .checkmark {
  background-color: #2196f3;
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inputContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.inputContainer .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border: solid var(--primary);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.headerCheckbox {
}
.headerParts {
  width: 50%;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    text-align: center;
    border-radius: 8px;
    padding: 4px;
  }
}
.number {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}
.price {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}
.delete {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}
.deleteBtn {
  width: 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  border: 1px solid transparent;
  padding: 6px;
  height: 100%;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    border-color: var(--border-color);
  }
}

.selectedContainer {
  margin: 12px;
  border-radius: 8px;
}
.selectedItem {
  border-radius: 8px;
  padding: 12px;
  display: flex;
  border: 1px solid var(--border-color);
  user-select: none;
  margin-bottom: 12px;
}
.selectedItem.active {
  background-color: var(--primary);
  border: 1px solid transparent;
}
.selectedHead {
  display: flex;
  align-items: center;
  flex: 1;
}

.singleCheckboxLabel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
  /* margin-right: 12px; */
  position: relative;
}
.itemName {
  width: calc((100% - 120px - 12px - 12px) / 2);
  margin-right: 12px;
  /* margin-left: 12px; */
  height: 100%;
  padding: 0 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    background-color: var(--primary);
    border: 1px solid #fff;
    cursor: pointer;
    /* color: #fff; */
  }
}
.itemClassifiedContainer {
  position: relative;
  height: 64%;
  color: var(--text-color);
  &:hover {
    /* font-weight: 600; */
    text-decoration: underline;
  }
}
.itemClassifiedContainer > .arrowOut {
  display: none;
  position: absolute;
  border-bottom: 14px solid rgba(0, 0, 0, 0.273);
  border-bottom: 14px solid var(--border-color);
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  width: 0;
  height: 0;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  cursor: default;
  z-index: 1;
}
.itemClassifiedContainer > .arrowIn {
  display: none;
  position: absolute;
  border-bottom: 12px solid rgb(255, 255, 255);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  cursor: default;
  z-index: 2;
}
.itemClassifiedContainer.active > .arrowOut,
.itemClassifiedContainer.active > .arrowIn {
  display: flex;
}
.itemClassified {
  position: relative;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  /* z-index: 2; */
}
.classifyAdjust {
  display: none;
  position: absolute;
  box-shadow: 0 0 14px 0 #0000004f;
  background-color: #fff;
  min-width: 350px;
  right: 50%;
  transform: translateX(50%);
  padding: 12px;
  border-radius: 8px;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.itemClassifiedContainer.active > .classifyAdjust {
  display: flex;
}
.itemImg {
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}
.singleCheckbox {
  display: block;
  box-sizing: border-box;
}
.selectedTail {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

/* CART FOOTER  */
.cartFooter {
  position: sticky;
  bottom: 0;
  margin: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, 0.08); */
  min-height: 80px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.footerCartInfo {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  justify-content: space-between;
}
.checkboxAllFooter {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 12px;
  > p {
    margin-right: 12px;
  }
  /* When the checkbox is checked, add a blue background */
  > .inputContainer input:checked ~ .checkmark {
    background-color: #2196f3;
    background-color: #fff;
    background-color: var(--primary);
  }
}
/* Style the checkmark/indicator */
.inputContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  /* border: solid var(--primary); */
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.totalCount {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 12px;
}
.productsCount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.totalCash {
  color: var(--primary);
  font-size: 24px;
}
.confirmBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #fff;
  min-width: 180px;
  border-radius: 8px;
  margin-left: 12px;
  user-select: none;
  &:hover {
    cursor: pointer;
    filter: brightness(108%);
  }
  &:active {
    filter: brightness(100%);
  }
}
.suggestItems {
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .selectedItem {
    display: flex;
    flex-direction: column;
  }
  .selectedHead {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    flex: 1;
  }
  .itemImg {
    width: 80px;
  }
  .selectedTail {
    margin-top: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex: 1;
    justify-content: flex-end;
    & .deleteBtn {
      display: none;
    }
    & .price {
      margin-right: 120px;
      margin-bottom: 12px;
      color: var(--primary);
      font-weight: 600;
    }
  }

  .adjNumber {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .adjNumber .subtractBtn {
    font-size: 16px;
    width: 38px;
    height: 38px;
  }

  .adjNumber .currentNumber {
    font-size: 16px;
    padding: 0 18px;
    margin: 0;
  }

  .adjNumber .addBtn {
    font-size: 16px;
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 992px) {
  .headerSelected {
    display: none;
  }
  .inputContainer {
    height: 16px;
    min-width: 16px;
  }
  .inputContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #d4d4d4;
  }

  .inputContainer .checkmark::after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border: solid var(--primary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .cartFooter {
    display: flex;
    align-items: center;
    min-height: 40px;
  }
  .checkboxAllFooter {
    justify-content: flex-start;
    .checkmark::after {
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    & span {
      display: none;
    }
  }
  .totalCount {
    display: flex;
    .productsCount {
      display: none;
    }
  }
  .totalCash {
    font-size: 13px;
  }
  .confirmBuy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    min-width: 90px;
    border-radius: 8px;
    margin-left: 12px;
    height: 34px;
  }
}
