@import "normalize.css";
:root {
  --text-color: #545454;
  --primary: #f9a51b;
  --border-color: #dbdbdb;
  --header-width: 200px;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  box-sizing: border-box;
}

.containerPosition {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  width: calc(100% - var(--header-width));
  justify-content: center;
  transition: 0.2s;
}
.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
}

.headPart {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: #fff;
}

.content {
  width: 100%;
}

.openSidebar {
  margin: 12px 0 12px 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
  user-select: none;
  &:hover {
    background-color: #bcbcbc;
  }
}
.line1,
.line2,
.line3 {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 50px;
  transition: 0.3s;
}
.active .line1 {
  transform: translate(0px, 15px) rotate(45deg);
}
.active .line2 {
  opacity: 0;
}
.active .line3 {
  transform: translate(0px, -15px) rotate(-45deg);
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .containerPosition {
    width: 100%;
  }
  .openSidebar {
    display: flex;
    margin: 12px 0 12px 0px;
    padding-left: 12px;
    padding-right: 0;
    /* padding-left: 12px;
    padding-right: 12px; */
  }
}
