.Header {
  display: flex;
  background-color: #ccc;
  position: sticky;
  top: 2.4rem;
  max-width: 1200px;
  margin: 0 2.4rem;
  border-radius: 0.4rem;
  height: 6.6rem;
}

.headerLogo {
  width: 120px;
  padding-top: 40px;
  background-image: url("../../assets/logoBachviet.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
}

.topHeader {
}

.headerTop {
}

.headerBot {
  display: flex;
}

.headerOption {
  //   padding: 0.8rem 1.8rem 0.4rem;
  //   margin-left: 0.4rem;
  //   border-top-left-radius: 0.4rem;
  //   border-top-right-radius: 0.4rem;
  border-left: 0.1rem solid #fff;
  //   margin-left: 0.4rem;
  &:hover {
    //  border-color: var(--primary);
    cursor: pointer;
    color: var(--primary);
  }
}
.headerOptionLink {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  border-bottom: 0.4rem solid transparent;
  padding: 0.8rem 1.8rem 0.4rem;
  &:hover {
    border-color: var(--primary);
  }
}

.headerIcon {
  margin-left: 0.8rem;
}
