.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
  justify-content: space-between;
}

.orderPart {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.productImgShow {
  // margin-right: 24px;
  display: flex;
  flex: 1;
}

.productCarousel {
  width: 100%;
}

.productInfo {
  display: flex;
  margin-left: 12px;
  flex-direction: column;
  min-width: 300px;
  flex: 3;
}
.productName {
  font-size: 24px;
  border-bottom: 2px solid var(--border-color);
  padding: 6px 0 12px 0;
  margin-bottom: 12px;
}
.productPrice {
  font-size: 24px;
  color: var(--primary);
  padding: 15px 20px;
  background-color: #fafafa;
}

.productNumber {
  font-size: 16px;
  font-weight: 600;
  color: green;
  margin-top: 12px;
}
.infoTable {
  display: flex;
  flex-direction: column;
  // min-width: 432px;
}
.infoTitle {
  display: flex;
  align-items: center;
  flex: 1;
}

// .infoTitle h4 {
//   width: 140px;
//   display: flex;
//   margin: 0;
// }
.infoDetail {
  display: flex;
  width: 100%;
}
.infoColor {
}
.infoOptions {
  margin: 0 8px 0 0;
  padding: 4px 12px;
  // background-color: #919191;
  // background-color: ;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 2.125rem;
  border: 1px solid var(--border-color);
  &:hover {
    cursor: pointer;
    border-color: var(--primary);
  }
}
.suggestlPart {
  display: grid;
  margin-left: -12px;
  margin-right: -12px;
}
.suggestlPart .detailTitle {
  margin-left: 12px;
  margin-right: 12px;
}
.detailInfo {
  margin: 0 12px;
}
.detailTitle {
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.87);
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-top: 24px;
  padding: 1.4rem;
  text-transform: uppercase;
  border-radius: 8px;
}
.detailInfoContainer {
  margin: 12px 0;
  display: flex;
  align-items: center;
}
.detailInfoTitle {
  display: inline-block;
  color: var(--text-color);
  filter: brightness(140%);
  // min-width: 164px;
  width: 110px;
  margin-right: 12px;
  box-sizing: border-box;
}
.detailInfoDesc {
  display: flex;
  flex: 1;
}
