.container {
  display: flex;
  margin-left: 12px;
  justify-content: space-between;
}
.productImgShow {
  margin-right: 24px;
}

.productCarousel {
}

.productInfo {
  display: flex;
  flex-direction: column;
}
.productName {
  font-size: 24px;
  border-bottom: 2px solid var(--border-color);
  padding: 6px 0 12px 0;
  margin-bottom: 12px;
}
.productPrice {
  font-size: 24px;
  // font-weight: 600;
  color: var(--primary);
  margin-bottom: 12px;
  padding: 15px 20px;
  background-color: #fafafa;
}

.productNumber {
  font-size: 16px;
  font-weight: 600;
  color: green;
  margin-top: 12px;
}
.infoTable {
  display: flex;
  flex-direction: column;
}
.infoTitle {
  display: flex;
  align-items: center;
}

.infoTitle h4 {
  width: 140px;
  display: flex;
}
.infoDetail {
  display: flex;
}
.infoColor {
}
.infoOptions {
  margin: 0 8px 0 0;
  padding: 4px 12px;
  // background-color: #919191;
  // background-color: ;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 2.125rem;
  border: 1px solid var(--border-color);
  &:hover {
    cursor: pointer;
    border-color: var(--primary);
  }
}

.infoButton {
  margin-top: 48px;
}
.infoSize {
}
.infoSizeDetail {
}
.colorOfProduct {
}
.infoInsurance {
}
